@charset "utf-8";

nav a {
  color : #FFF;
  text-decoration : none;
}

#main_menu,
#main_menu ul,
#main_menu li,
#main_menu span,
#main_menu .button {
  list-style : none;
  display : block;
  position : relative;
  box-sizing : border-box;
}

#main_menu li.has_sub:after {
  content : "+";
}
