@charset "utf-8";

* {
  /* default color */
  background-color : #000;
  color : #FFF;
  
  /* box */
  border : 0 solid inherit;
  box-sizing : border-box;
  margin : 0;
  padding : 0;
  
  /* etc */
  line-height : 1.5;
}

body {
}

header {
  background-color : #222;
  border-bottom : 2px solid #FFF;
  margin-bottom : 1em;
}

section {
  margin : 1em;
}

article {
}

footer {
  border-top: 2px solid #FFF;
  margin-top : 1em;
}

#copyright {
  clear: both;
  padding: .5em 1em;
  text-align: right;
}

.align_left {
  float: left;
  margin-right: 40px;
}
.align_right {
  float: right;
	margin-left: 40px;
}
.align_center {
	clear: both;
	display: block;
	margin: 0 auto;
  text-align : center;
}

.link h1 {
  font-size : 3em;
}
.link ul {
  border : 1px dotted #FFF;
  margin : 1em auto;
  padding : 1em 3em;
  list-style: none;
  text-align: left;
  display: inline-block
}
.link li {  
  line-height: 2;
}
.link .icon {
  width : 1em;
  height : 1em;
}
