@charset "utf-8";

* {
  /* default color */
  background-color : #000;
  color : #FFF;
  
  /* box */
  border : 0 solid inherit;
  box-sizing : border-box;
  margin : 0;
  padding : 0;
  
  /* etc */
  line-height : 1.5;
}

section {
  margin : 1em;
}

#copyright {
  border-top: 2px solid #FFF;
  clear: both;
  margin : 1em 0 0 0;
  padding: .5em 1em;
  text-align: right;
}

.link .icon {
  width : 1em;
  height : 1em;
} 
